<!--

IMPORTANT: This configuration file is not intended for any production Sitecore installation.
Purpose: This include file contains some experimental optimizations that can speed up start-up.

Please, review each of the patched elements below and consider if some of the optimizations should be commented out due to the specifics of your solution.

Enabling this file without taking into account the specifics of your solution can have unexpected consequences.

To enable this include file, rename it to have a ".config" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <settings>
      <setting name="EnableEventQueues" set:value="false" />
    </settings>
  </sitecore>
</configuration>