<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
   <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_list_index">
            <strategies>
              <strategy set:ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
            </strategies>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>