<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="indexing:start">
        <patch:delete />
      </event>
      <event name="indexing:start:remote">
        <patch:delete />
      </event>
      <event name="indexing:end">
        <patch:delete />
      </event>
      <event name="indexing:end:remote">
        <patch:delete />
      </event>
    </events>
    <hooks>
      <hook type="Sitecore.ContentSearch.Hooks.Initializer, Sitecore.ContentSearch">
        <patch:delete />
      </hook>
    </hooks>
    <pipelines>
      <contentSearch.stripQueryStringParameters>
        <patch:delete />
      </contentSearch.stripQueryStringParameters>
      <contentSearch.getContextIndex>
        <patch:delete />
      </contentSearch.getContextIndex>
      <contentSearch.getGlobalSearchFilters>
        <patch:delete />
      </contentSearch.getGlobalSearchFilters>
      <contentSearch.getGlobalLinqFilters>
        <patch:delete />
      </contentSearch.getGlobalLinqFilters>
      <contentSearch.getFacets>
        <patch:delete />
      </contentSearch.getFacets>
      <contentSearch.processFacets>
        <patch:delete />
      </contentSearch.processFacets>
      <contentSearch.queryWarmup>
        <patch:delete />
      </contentSearch.queryWarmup>
      <contentSearch.translateQuery>
        <patch:delete />
      </contentSearch.translateQuery>
      <contentSearch.cleanUp>
        <patch:delete />
      </contentSearch.cleanUp>
      <indexing.filterIndex.inbound>
        <patch:delete />
      </indexing.filterIndex.inbound>
      <indexing.filterIndex.outbound>
        <patch:delete />
      </indexing.filterIndex.outbound>
      <indexing.getDependencies>
        <patch:delete />
      </indexing.getDependencies>
      <indexing.resolveFieldBoost>
        <patch:delete />
      </indexing.resolveFieldBoost>
      <indexing.resolveItemBoost>
        <patch:delete />
      </indexing.resolveItemBoost>
      <search>
        <processor type="Sitecore.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.ContentSearch.Client">
          <patch:delete />
        </processor>
      </search>
    </pipelines>
    <boostingManager>
      <patch:delete />
    </boostingManager>
    <searchManager>
      <patch:delete />
    </searchManager>
    <scheduling>
      <agent type="Sitecore.ContentSearch.Tasks.Optimize">
        <patch:delete />
      </agent>
    </scheduling>
    <settings>
      <setting name="ContentSearch.Indexing.DisableDatabaseCaches">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.ParallelIndexing.Enabled">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.ParallelIndexing.MaxThreadLimit">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.SearchMaxResults">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.EnableSearchDebug">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.Crawling.StopOnCrawlError">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.Crawling.StopOnCrawlFieldError">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.DocumentMapping.StopOnPropertyMappingError">
        <patch:delete />
      </setting>
      <setting name="Search.UseLegacySearchEngine">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.DefaultIndexType">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.DefaultIndexConfigurationPath">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.DefaultIndexType">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.DefaultIndexConfigurationPath">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.CalibrateSizeByDeletes">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.ConcurrentMergeSchedulerThreads">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.IndexMergeFactor">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.LuceneQueryClauseCount">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.MaxDocumentBufferSize">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.MaxMergeDocs">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.MaxMergeMB">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.MinMergeMB">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.RamBufferSize">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.TermIndexInterval">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.UseCompoundFile">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.WaitForMerges">
        <patch:delete />
      </setting>
      <setting name="ContentSearch.DateFormat">
        <patch:delete />
      </setting>
    </settings>
    <commands>
      <command name="indexing:rebuild">
        <patch:delete />
      </command>
      <command name="indexing:refreshtree">
        <patch:delete />
      </command>
      <command name="indexing:rebuildall">
        <patch:delete />
      </command>
      <command name="indexing:ui:rebuilt">
        <patch:delete />
      </command>
      <command name="indexing:generatesolrschema">
        <patch:delete />
      </command>
      <command name="indexing:runmanager">
        <patch:delete />
      </command>
    </commands>
    <contentSearch>
      <patch:delete />
    </contentSearch>
  </sitecore>
</configuration>